/*
 * Copyright 2011 Research Studios Austria Forschungsgesellschaft mBH
 *
 * This file is part of easyrec.
 *
 * easyrec is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * easyrec is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with easyrec.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * jsTree default theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree-tree-theme li,
.jstree-tree-theme ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-tree-theme li { background-position:-90px 0; background-repeat:repeat-y; }
.jstree-tree-theme li.jstree-last { background:transparent; }
.jstree-tree-theme .jstree-open > ins { background-position:-72px 0; }
.jstree-tree-theme .jstree-closed > ins { background-position:-54px 0; }
.jstree-tree-theme .jstree-leaf > ins { background-position:-36px 0; }

.jstree-tree-theme .jstree-hovered { background:#e7f4f9; border:1px solid #d8f0fa; padding:0 2px 0 1px; }
.jstree-tree-theme .jstree-clicked { background:#beebff; border:1px solid #99defd; padding:0 2px 0 1px; }
.jstree-tree-theme a .jstree-icon { background-position:-56px -19px; }
.jstree-tree-theme a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree-tree-theme.jstree-focused { /*background:#ffffee;*/ }

.jstree-tree-theme .jstree-no-dots li,
.jstree-tree-theme .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-tree-theme .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-tree-theme .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-tree-theme .jstree-no-icons a .jstree-icon { display:none; }

.jstree-tree-theme .jstree-search { font-style:italic; }

.jstree-tree-theme .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-tree-theme .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-tree-theme .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-tree-theme .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-tree-theme .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-tree-theme .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-tree-theme .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-tree-theme .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-tree-theme ins { background:transparent !important; }
#vakata-dragged.jstree-tree-theme .jstree-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-tree-theme .jstree-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-tree-theme { background:url("d.png") -41px -57px no-repeat !important; }

.jstree-tree-theme a.jstree-search { color:aqua; }

#vakata-contextmenu.jstree-tree-theme-context,
#vakata-contextmenu.jstree-tree-theme-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-tree-theme-context li { }
#vakata-contextmenu.jstree-tree-theme-context a { color:black; }
#vakata-contextmenu.jstree-tree-theme-context a:hover,
#vakata-contextmenu.jstree-tree-theme-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-tree-theme-context li.jstree-contextmenu-disabled a,
#vakata-contextmenu.jstree-tree-theme-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-tree-theme-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-tree-theme-context li ul { margin-left:-4px; }

/* IE6 BEGIN */
.jstree-tree-theme li,
.jstree-tree-theme ins,
#vakata-dragged.jstree-tree-theme .jstree-invalid,
#vakata-dragged.jstree-tree-theme .jstree-ok,
#jstree-marker.jstree-tree-theme { _background-image:url("d.gif"); }
.jstree-tree-theme .jstree-open ins { _background-position:-72px 0; }
.jstree-tree-theme .jstree-closed ins { _background-position:-54px 0; }
.jstree-tree-theme .jstree-leaf ins { _background-position:-36px 0; }
.jstree-tree-theme a ins.jstree-icon { _background-position:-56px -19px; }
#vakata-contextmenu.jstree-tree-theme-context ins { _display:none; }
#vakata-contextmenu.jstree-tree-theme-context li { _zoom:1; }
.jstree-tree-theme .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-tree-theme .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-tree-theme .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
/* IE6 END */